html, body, #root, #root > div {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Nunito','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5 {
  font-family: 'Noto Serif', sans-serif;
}

/* Welcome page */

.App-header img {
  width: 50px;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
}

header {
  background-color: white;
}

#createProfBtn {
  background-color: #f7c242;
}

.App-header button {
  margin: 15px 8px;
}

img.homepageMain {
  width:500px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.welcomeSection div {
  padding-top: 40px;
  /* padding-bottom: ; */
}

.welcomeSection div h1 {
  text-align: center;
  font-weight: bold;
  font-size: 250%;
}

.welcomeSection div p {
  text-align: center;
  font-size: 110%;
}

.welcomeSection img.homepageSide2 {
  width: 300px;
  margin-right: 20px;
}

.welcomeSection img.homepageSide1 {
  width: 150px;
  height: 160px;
  margin-left: 5px;
}

.homepage .explorTab {
  text-align: center;
  margin-top: 140px;
}

.homepage .explorTab button {
  width: 65px;
  height: 65px;
}

/* All activity page */

section.allActivitiesPage {
  background-color: white;
}

h1.allActivitiesPage{
  text-align: center;
  padding-top: 60px;
  margin-bottom: 50px;
}

section.allActivitiesPage div.d-flex {
  justify-content: center;
}

section.allActivitiesPage div.dropdown {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
}

section.allActivitiesPage button {
  background-color: white;
  border-color: black;
}

.activityList div.activityTextSection {
  margin-top: 4rem;
  margin-left: 8rem;
}

section.activityList img.activityPage {
  width: 200px;
  margin-top: 2rem;
  margin-right: 10rem;
}

section.activityList div.d-flex {
  justify-content: space-between;
}

section.activityList {
  margin-bottom: 2rem;
}

section.imageClassification {
  background-image: url("actBackgroundY.png");
  margin-bottom: 2rem;
}

section.innerImageClassification {
  background-image: url("innerActBackgroundY.png");
  margin-bottom: 2rem;
}

section.machineLearning {
  background-image: url("actBackgroundB.png");
  margin-bottom: 2rem;
}

section.voiceAssistants {
  background-image: url("actBackgroundG.png");
  margin-bottom: 2rem;
}

section.interactiveCoding {
  background-image: url("actBackgroundP.png");
  margin-bottom: 2rem;
}

section.homepage {
  background-image: url("hpBackground.png");
}

section.activityList div.activity {
  margin-left: 3rem;
}

section.activityList div.activity {
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 10rem;
}

section.activityList div.activity img {
    display:block;
    margin:auto;
    border-radius: 50%;
}

section.activityList div.activityContent{
  text-align: center;
}

section.activityList div.activity div.d-flex {
  margin-bottom: 4rem;
}

/* --Individual Activity Page-- */

/* --Intro Section-- */

section.activityPage div.activityTextSection {
  margin-top: 14rem;
  margin-right: 10rem;
}

section.activityPage div.activityTextSection p {
  margin-bottom: 0rem;
}

section.activityPage img.activityPage {
  max-width: 100%;
  min-width: 50%;
  margin-top: 12rem;
  border-radius: 50%;
}

section.activityPage div.d-flex {
  margin-left: 10rem;
}

section.activityPage div.d-flex {
  justify-content: space-between;
}

section.activityPage {
  margin-bottom: 2rem;
}

section.activityPage div.activity {
  margin-left: 3rem;
}

section.activityPage div.activity {
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 10rem;
}

section.activityPage div.activity img {
    display:block;
    margin:auto;
    border-radius: 50%;
}

section.activityPage div.activityContent{
  text-align: center;
}

section.activityPage div.activity div.d-flex {
  margin-bottom: 4rem;
}

img.actDesImg {
  height: 55px;
  width: 56px;
}

section.activityPage div.activityTextSection div.d-flex p {
  margin-top: 1rem;
}

section.activityPage div.activityTextSection div.d-flex{
  margin-left: 0rem;
}

.btn-modify {
      background-color: #dddddd;
      color: #868686;
      border-color: #868686;
}

.btn-playground {
  background-color: #fcefd0 !important;
}

.activityPage button {
  margin: 15px 8px;
}

/* --Explore Section-- */

div.exploreAct {
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 10rem;
}

div.exploreAct img {
    display:block;
    margin:auto;
    border-radius: 50%;
    max-width: 100%;
}

div.activityContent{
  text-align: center;
}

div.exploreAct div.d-flex {
  margin-bottom: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* --Learning Material Section-- */

div.learningMat {
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 10rem;
}

div.learningMat img {
    display:block;
    margin:auto;
    border-radius: 50%;
    max-width: 100%;
}

div.activityContent{
  text-align: center;
}

div.learningMat div.d-flex {
  margin-bottom: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* --Comment Section-- */

div.comment div.d-flex{
  text-align: center;
  margin-left: 8rem;
  margin-right: 8rem;
}

div.comHis {
  text-align: center;
  margin-left: 12rem;
  margin-right: 12rem;
}

