html, body, #root, #root > div {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("homepageBg.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header img {
  width: 50px;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
}

header {
  background-color: white;
}

#createProfBtn {
  background-color: #f7c242;
}

.App-header button {
  margin: 15px 8px;
}

img.homepageMain {
  width:500px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.welcomeSection div {
  padding-top: 40px;
  /* padding-bottom: ; */
}

.welcomeSection div h1 {
  text-align: center;
  font-weight: bold;
  font-size: 250%;
}

.welcomeSection div p {
  text-align: center;
  font-size: 110%;
}

.welcomeSection img.homepageSide2 {
  width: 300px;
  margin-right: 20px;
}

.welcomeSection img.homepageSide1 {
  width: 150px;
  height: 160px;
  margin-left: 5px;
}

.homepage .explorTab {
  text-align: center;
  margin-top: 140px;
}

.homepage .explorTab button {
  width: 65px;
  height: 65px;
}